.App {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.bullet-point {
  margin-right: 10px;
}


.candidate-card {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 1rem;
  margin: 20px 0;
  border-radius: 10px;
}

.candidates-column {
  margin-top: 20px;

}

.column {
  flex: 1;
  padding: 10px;
  margin: 10px;
  min-width: 250px;
}

.flex {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
}

.heading {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 0;
}
